[Unit]
Description=Raspberry Pi Weather Service
After=time-sync.target
Wants=time-sync.target

[Service]
EnvironmentFile=/home/ubuntu/.env
ExecStart=/usr/bin/python3 /home/ubuntu/github/raspberrypi-weather-station/main.py

[Install]
WantedBy=multi-user.target
